

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2");
  }
  
  @font-face {
    font-family: 'Amazon Ember';
    font-weight: 500;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2");
  }
  
  @font-face {
    font-family: 'Amazon Ember';
    src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2");
  }