
.shopcategory-banner {
    display: block;
    margin: 1.8rem auto;
    width: 82%;
}

.shopcategory-indexStore {
    display: flex;
    margin: 0rem 10.5rem;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort {
    padding: 0.6rem 1.25rem;
    border-radius: 2.5rem;
    border: 0.06rem solid #888;
}

.shopcategory-indexStore p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 1.25rem 10.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
}

.shopcategory-products .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9rem auto;
    width: 14.5rem;
    height: 4rem;
    border-radius: 4.5rem;
    background: #ededed;
    color: #787878;
    font-size: 1rem;
    font-weight: 500;
}