.newcollections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 6rem;
  }
  
  .newcollections hr {
    width: 12.5rem;
    height: 0.35rem;
    border-radius: 0.5rem;
    background: #252525;
  }
  
  .newcollections h1 {
    color: #171717;
    font-size: 2rem;
    font-weight: 25rem;
  }
  
  .collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3.1rem;
    gap: 1.8rem;
  }
